<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom et Prénons</th>
      <th scope="col">CIN</th>
      <th scope="col">Télephone</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
    <% i = 0 %>
  <% @recensement.each do |recensement| %>
  <tbody class="table-1">
    <tr>
      <th scope="row"><%= i += 1%></th>
      <td><%= recensement.full_name %></td>
      <td><%= recensement.cin %></td>
      <td><%= recensement.contact %></td>
      <td><a href="/recensements/<%=recensement.id%>" > info </a></td>
    </tr>
    <% end %> 
  </tbody>
</table>


