<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom et Prénons</th>
      <th scope="col">CIN</th>
      <% if admin_signed_in? %>
        <th scope="col">Télephone</th>
        <th scope="col">Supprimer</th>
      <% end %>
    </tr>
  </thead>
    <% i = 0 %>
  <% @people.each do |recensement| %>
  <tbody class="table-1">
    <tr>
      <th scope="row"><%= i += 1%></th>
      <% if admin_signed_in? %>
        <td><%= link_to recensement.full_name, fokontany_recensement_path(@fokontany.id, recensement.id) %></td>
      <% else %>
        <td><%= recensement.full_name %></td>
      <% end %>
      <td><%= recensement.cin %></td>
      <% if admin_signed_in? %>
        <td><%= recensement.contact %></td>
        <td><i><%= link_to 'Supprimer', recensement_path(recensement.id), style:"color: red", data:{confirm:"Supprimé?"} %></i></td>
      <% end %>
    </tr>
    <% end %> 
  </tbody>
</table>
