
<% @people.each do |recensement| %>
	<p>Nom : </p><%= recensement.full_name %><br>
	<p>IN : </p><%= recensement.cin %><br>
	<p>Contact : </p><%= recensement.contact %><br><br>
<% end %>

<%= search_form_for @q do |f| %>

  <%= f.label :full_name %>
  <%= f.text_field :full_name_cont %> </br>

  <%= f.label :CIN %>
  <%= f.text_field :cin_start %> </br>

  <%= f.submit %>
<% end %>