<h1>Liste de tous les candidats : </h1>
<% @candidat.each do |candidat| %>
	<p>Nom et prénom : </p><%= candidat.full_name %><br>
	<p>Mouvance : </p><%= candidat.parti %><br>
	<p>Description : </p><%= candidat.description %><br>
	<%= link_to "Edit", edit_candidat_path(candidat.id) %> | <%= link_to "Supprimer", candidat_path(candidat.id), method:"delete", data:{confirm:"Supprimé?"} %><br><br>
<% end %>
