<div class="hero-wrap img" id="back">
	<div id="background-first">
      <div class="container">
      	<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
	        <div class="col-md-10 d-flex align-items-center ftco-animate">
	        	<div class="text text-center mt-md-5">
	            <h1 class="mb-5">L'application qui vous aide à soutenir vos opinions</h1>
					<p class="sous-title typewrite" data-period="2000" data-type='[ "Des élections libres.","Des élections Transparentes.", "Des élections Incontestables." ]'></p>
							<div class="ftco-counter ftco-no-pt ftco-no-pb">
			        	<div class="row">
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-worldwide"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="22">22</strong>
					                <span>Region</span>
				                </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-visitor"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="1295"> 1 295</strong>
					                <span>Commune</span>
					              </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-resume"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="80000">0</strong>
					                <span>Fokontany</span>
					              </div>
				              </div>
				            </div>
				          </div>
				        </div>
			        </div>
			    </div>
	          </div>
	        </div>
	    	</div>
      </div>
    </div>
	</div>
   <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="category-wrap">
    					<div class="row no-gutters">
    						<div class="col-md-2">
    							<div class="top-category text-center no-border-left">
    								<h3><a href="#"></a></h3>
    				
    								<p><span class="number"></span> <span></p>
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Verifier votre carte electorale</a></h3>
    								<span class="icon flaticon-resume"></span>
    							
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Voter facilement</a></h3>
    								<span class="icon flaticon-team"></span>
    						
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Suivez votre choix</a></h3>
    								<span class="icon flaticon-accounting"></span>
    						
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Obtenez des Resultats en temps réels</a></h3>
    								<span class="icon flaticon-employees"></span>
    						
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#"></a></h3>
    								<p><span class="number"></span></p>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
   </section>

<% @date = Daty.last %>
	<% if @date != nil%>
    <% if  Time.now.to_i <= @date.fin_propagande.to_i %>
      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
              <span class="subheading"> </span>
                <h2 class="mb-0">Liste des candidats</h2>
            </div>
          </div>
          <div class="d-flex">
            <div class="ftco-animate">
              <ul class="category">
                <% @liste.each do |liste|%>
                  <li>
                    <a href="#"><%= liste.full_name %><br>
                      <span class="number"></span> 
                      <span><%= liste.description %></span>
                        <i class="ion-ios-arrow-forward"></i>
                    </a>
                    <%= liste.parti %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </section>
	  <% end %>
  <% end %>

    <section class="ftco-section services-section">
        <h1 class="text-center">Liste des Candidat </h1>
      <div class="container" id="cont">
        <div class="d-flex">
            <% @liste.each do |candidat| %>
              <div class="card mr-2" style="width: 18rem;height: 27rem;">
                <img src="http://scd.rfi.fr/sites/filesrfi/dynimagecache/0/0/3500/1977/1024/578/sites/images.rfi.fr/files/aef_image/2018-09-07t192646z_171278973_rc12acc37310_rtrmadp_3_usa-election-obama_0.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=candidat.full_name%></h5>
                  <p class="card-text" id="scroll"><%=candidat.description%></p>
                  <p > <span class="btn btn-primary"><%= candidat.votes.count %></span> 
                      <span class="btn btn-primary">
                        <%if @total != 0%>
                            <%= (candidat.votes.count * 100)/@total %> %
                        <%else%>
                            0%
                        <%end %>
                      </span> 
                  </p>  
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <!--    
        <% @date = Daty.last %>
        <%if @date != nil %>
    	    <%if  @date.fin_vote.to_i <= Time.now.to_i %>
    		    <p>date de debut de propagande</p>
    		    <%= @date.debut_propagande%>
    		    <p>fin propagand</p>
    		    <%= @date.fin_propagande  %>
    		    <p>date debut vote</p>
    		    <%= @date.debut_vote %>
    		    <p>date fin</p>
    		    <%= @date.fin_vote%>
    	    <%end%>
    	<%end%> -->
</div>
