<div class="hero-wrap img" id="back">
	<div id="background-first">
      <div class="container">
      	<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
	        <div class="col-md-10 d-flex align-items-center ftco-animate">
	        	<div class="text text-center mt-md-5">
	            <h1 class="mb-5">L'application qui vous aide à soutenir vos opinions</h1>
					<p class="sous-title typewrite" data-period="2000" data-type='[ "Des élections libres.","Des élections Transparentes.", "Des élections Incontestables." ]'></p>
							<div class="ftco-counter ftco-no-pt ftco-no-pb">
			        	<div class="row">
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-worldwide"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="22">22</strong>
					                <span>Region</span>
				                </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-visitor"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="1295"> 1 295</strong>
					                <span>Commune</span>
					              </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-resume"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="80000">0</strong>
					                <span>Fokontany</span>
					              </div>
				              </div>
				            </div>
				          </div>
				        </div>
			        </div>
			    </div>
	          </div>
	        </div>
	    	</div>
      </div>
    </div>
	</div>
   <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="category-wrap" id="shadow">
    					<div class="row no-gutters">
    						<div class="col-md-2">
    							<div class="top-category text-center no-border-left">
    								<h3><a href="#"></a></h3>
    				
    								<p><span class="number"></span> <span></p>
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Verifier votre carte electorale</a></h3>
    								<span class="icon flaticon-resume"></span>
    							
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Voter facilement</a></h3>
    								<span class="icon flaticon-team"></span>
    						
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Suivez votre choix</a></h3>
    								<span class="icon flaticon-accounting"></span>
    						
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Obtenez des Resultats en temps réels</a></h3>
    								<span class="icon flaticon-employees"></span>
    						
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#"></a></h3>
    								<p><span class="number"></span></p>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
   </section>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
  		<%= image_tag  "V1.png", class:"d-block w-100",alt:"first slide" %>
    </div>
    <div class="carousel-item">
    	<%= image_tag  "V2.png", class:"d-block w-100", alt:"second slide" %>
    </div>
    <div class="carousel-item">
     	<%= image_tag  "V3.png", class:"d-block w-100", alt:"fird slide" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @date = Daty.last %>
	<% if @date != nil%>
    <% if  Time.now.to_i <= @date.fin_propagande.to_i %>
      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
              <span class="subheading"> </span>
                <h2 class="mb-0">Liste des candidats</h2>
            </div>
          </div>
          <div class="d-flex">
            <div class="ftco-animate">
              <ul class="category">
                <% @liste.each do |liste|%>
                  <li>
                    <a href="#"><%= liste.full_name %><br>
                      <span class="number"></span> 
                      <span><%= liste.description %></span>
                        <i class="ion-ios-arrow-forward"></i>
                    </a>
                    <%= liste.parti %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </section>
	  <% end %>
  <% end %>

    <section class="ftco-section services-section">
      <h1 class="text-center">Liste des Candidats </h1>
        <div class="container">
          <div class="d-flex">
            <% if @liste.length != 0 %>
              <% @liste.each do |candidat| %>
                <div class="card mr-2" style="width: 18rem;height: 27rem;">
                  <img src="http://scd.rfi.fr/sites/filesrfi/imagecache/rfi_16x9_1024_578/sites/images.rfi.fr/files/aef_image/2011-02-17T115648Z_1261307332_GM1E72H1J9L01_RTRMADP_3_MADAGASCAR-RAVALOMANANA-SAFRICA_0_0.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%=candidat.full_name%></h5>
                    <p class="card-text" id="scroll"><%=candidat.description%></p>
                    <p > <span class="btn btn-primary"><%= candidat.votes.count %></span> 
                        <span class="btn btn-primary">
                          <%if @total != 0%>
                              <%= (candidat.votes.count * 100)/@total %> %
                          <%else%>
                              0%
                          <%end %>
                        </span> 
                    </p>  
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
    </section>
    <!--    
        <% @date = Daty.last %>
        <%if @date != nil %>
    	    <%if  @date.fin_vote.to_i <= Time.now.to_i %>
    		    <p>date de debut de propagande</p>
    		    <%= @date.debut_propagande%>
    		    <p>fin propagand</p>
    		    <%= @date.fin_propagande  %>
    		    <p>date debut vote</p>
    		    <%= @date.debut_vote %>
    		    <p>date fin</p>
    		    <%= @date.fin_vote%>
    	    <%end%>
    	<%end%> -->
</div>
  <!-- Footer -->
  <footer class="page-footer font-small teal pt-4">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
          <p class="footer-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
            repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
            harum esse fugiat. Itaque, culpa?</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
          <p class="footer-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
            commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
            excepturi hic.</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" id="foot">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
    <!-- Footer -->