<% if @recensement_cin.length == 0 && @recensement_name.length == 0 %>

    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>4<span>0</span>4</h1>
        </div>
          <h2> Votre Recherche n'est pas encore dans la liste</h2>
      </div>

  <% else %>

  <% @recensement_cin.each do |recensement| %>
    <div class="container">
      <div class="card-deck mb-3 text-center ">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Nom : <%= recensement.full_name %><br>
            CIN : <%= recensement.cin %><br>
            Fokontany : <%= recensement.fokontany.name %><br>
            Commune : <%= recensement.fokontany.commune.name %><br>
            Region : <%= recensement.fokontany.commune.region.name %><br><br>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% @recensement_name.each do |recensement| %>
    <div class="container">
      <div class="card-deck mb-3 text-center ">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            Nom : <%= recensement.full_name %><br>
            CIN : <%= recensement.cin %><br>
            Fokontany : <%= recensement.fokontany.name %><br>
            Commune : <%= recensement.fokontany.commune.name %><br>
            Region : <%= recensement.fokontany.commune.region.name %><br><br>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %> 

