<!DOCTYPE html>
<html>
  <head>
    <title>Sahy Hifidy </title>
    <link rel="icon" href="../images/logo.png" type="image/png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>
  <body>  
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%= image_tag  "logo.png", class:"logo" %>
      <%= link_to  "Accueil", root_path , class:"nav-link"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% @date = Daty.last %>
          <% if @date != nil %>
            <% if Time.now.to_i <= @date.fin_propagande.to_i %>
              <li class="nav-item active">
                <%= link_to  "Candidats", candidats_path , class:"nav-link"%>
              </li>
            <% end %>
            <% if Time.now.to_i >= @date.debut_vote.to_i && Time.now.to_i <= @date.fin_vote.to_i %>
              <li class="nav-item">
                <a class="nav-link" href="<%= verification_path %>">Vote</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Résultat de vote
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="<%= result_rg_path %>">Regional</a>
                  <a class="dropdown-item" href="<%= result_cmn_path %>">Communale</a>
                </div>
              </li>
            <% end %>
          <% end %>
          <li class="nav-item ">
            <a class="nav-link" href="<%= regions_path %>" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Region</a>
          </li>
           <li class="nav-item ">
            <a class="nav-link" href="<%= recensements_affiche_path %>" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Liste des inscrits</a>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item ">
              <a class="nav-link" href="<%= new_daty_path %>" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Date</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="<%= new_candidat_path %>" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Créer candidat</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="<%= sign_user_path %>" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashbord</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="<%= destroy_user_session_path %>" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" data-method="delete">Se deconnecter</a>
            </li>
          <% end %>          
          <%  if admin_signed_in?%>
            <li class="nav-item ">
              <a class="nav-link" href="<%= admin_path(current_admin.id) %>" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashbord</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="<%= destroy_admin_session_path %>" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" data-method="delete">Se deconnecter</a>
            </li>

          <% end %>
        </ul>
      </div>

      <%=form_tag recherches_path , class:"form-inline my-2 my-lg-0" ,method:'get' do%>
        <input type="text" class="search form-control mr-sm-2" name="find" placeholder="Search...">
        <input type="submit" class="btn btn-outline-success my-2 my-sm-0">
      <%end%>     
        

    </nav>
    <%= yield %>
  </body>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/48ba21fe93.js"></script>
      <!-- Animation js -->
    <script src="js/script.js"></script>
</html>
